@import url("./config/main.css");
@import url("./leftSide/main.css");
@import url("./rightSide/main.css");

.homeBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: fadeIn 2s 1s forwards;
    transition: opacity var(--transitionTime);
}

@media screen and (max-width: 1000px){
    .homeBody{
        flex-direction: column-reverse;
    }
}