.homeTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    opacity: 0;
    animation: fadeIn 2s 0s forwards;
}

.homeTopLogo{
    padding: 20px;
    border: 3px solid var(--primaryGreen);
    border-radius: 20px;
    color: var(--primaryGreen);
    font-weight: 700;
    font-size: 40px;
    margin: 0px 0px 30px 0px;
    width: fit-content;
}