.homeBodyLeftSideAccountTotalDiv{
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    padding: 20px 25px;
    border-radius: 20px;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.homeBodyLeftSideAccountTotalTitle{
    color: var(--primaryGreen);
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

.homeBodyLeftSideAccountTotalContents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.homeBodyLeftSideAccountTotalContent{
    font-size: 25px;
}