.homeBodyConfigTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--primaryGreen);
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.homeBodyConfigTitle>button{
    background: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: color var(--transitionTime);
}

.homeBodyConfigTitle>button:hover{
    color: var(--primaryGreen);
}