.homeBodyRightSideCapitalAllocationDiv{
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    padding: 20px 25px;
    border-radius: 20px;
}

.homeBodyRightSideCapitalAllocationTitle{
    color: var(--primaryGreen);
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

.homeBodyRightSideCapitalAllocationContents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.homeBodyRightSideCapitalAllocationContent{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

@media screen and (max-width: 1000px){
    .homeBodyRightSideCapitalAllocationContents{
        flex-wrap: wrap;
    }
    .homeBodyRightSideCapitalAllocationContent{
        margin: 10px 0px 0px 0px;
    }
}