.initBodyFormsForgotPass{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.initBodyFormsForgotPass>button{
    background: rgb(255, 255, 255);
    font-size: 15px;
    transition: color var(--transitionTime);
}

.initBodyFormsForgotPass>button:hover{
    color: var(--primaryGreen);
}