@import url("./capitalAllocation/main.css");
@import url("./returnsGraph/main.css");

.homeBodyRightSide{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
}

@media screen and (max-width: 1000px){
    .homeBodyRightSide{
        width: 100%;
    }
}