@import url("./children/logo/main.css");
@import url("./children/aboutUs/main.css");
@import url("./children/forms/main.css");
@import url("./children/changeForms/main.css");

.initBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}