.homeBodyLeftSideOpenConfigDiv{
    background: rgb(255, 255, 255);
    padding: 20px 25px;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

.homeBodyLeftSideOpenConfigTitle{
    color: var(--primaryGreen);
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    margin: 0px 50px 0px 0px;
}