.initBodyFormsInputs{
    display: flex;
    flex-direction: column;
}

.initBodyFormsInputs>input{
    width: 15vw;
    padding: 10px 15px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
    font-size: 15px;
    transition: border var(--transitionTime);
}

.initBodyFormsInputs>input:hover{
    border: 1px solid var(--primaryGreen);
}

.initBodyFormsInputs>input:focus{
    border: 1px solid var(--primaryGreen);
}

@media (max-width: 1200px){
    .initBodyFormsInputs>input{
        width: 60vw;
    }
}