.homeBodyLeftSideRequestDepositDiv{
    background: rgb(255, 255, 255);
    padding: 20px 25px;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    cursor: pointer;
}

.homeBodyLeftSideRequestDepositDivSlider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200%;
    translate: 0%;
    transition: translate var(--transitionTime);
}

.homeBodyLeftSideRequestDepositTitle{
    color: var(--primaryGreen);
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    margin: 0px 50px 0px 0px;
}

.homeBodyLeftSideRequestDepositContent{
    width: 100%;
    text-align: left;
    font-size: 18px;
}