@import url("./comps/userInfo/main.css");
@import url("./comps/toChange/main.css");

.homeBodyConfig{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    left: -100%;
    width: 30%;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    transition: left var(--transitionTime);
}

.homeBodyConfigTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--primaryGreen);
    font-size: 25px;
    font-weight: 600;
    width: 100%;
}

.homeBodyConfigTitle>button{
    background: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: color var(--transitionTime);
}

.homeBodyConfigTitle>button:hover{
    color: var(--primaryGreen);
}

.homeBodyConfigDisclaimer{
    margin: 20px 0px 0px 0px;
    font-style: italic;
}

@media screen and (max-width: 1000px){
    .homeBodyConfig{
        width: 100%;
    }
}