.homeBodyConfigDiv{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    left: -100%;
    width: 30%;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    transition: left var(--transitionTime);
}

.homeBodyConfigTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--primaryGreen);
    font-size: 25px;
    font-weight: 600;
    width: 100%;
}

.homeBodyConfigExitButton{
    background: none;
    cursor: pointer;
}

.homeBodyConfigUserInfo{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.homeBodyConfigUserInfo>div{
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.homeBodyConfigChangePixDiv{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px 15px;
    overflow: hidden;
    cursor: pointer;
    margin: 0px 0px 10px 0px;
}

.homeBodyConfigChangePixSlider{
    display: flex;
    flex-direction: row;
    align-items: center;
    translate: 0%;
    transition: translate var(--transitionTime);
    width: 200%;
}

.homeBodyConfigChangePixTitle{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}

.homeBodyConfigChangePixContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.homeBodyConfigChangePixInput{
    border: 1px solid var(--primaryGreen);
    border-radius: 10px;
    padding: 10px 15px;
    width: 40%;
}

.homeBodyConfigChangePixButton{
    background: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 0px 0px 0px 5px;
    transition: background var(--transitionTime);
}

.homeBodyConfigChangePixButton:hover{
    background: var(--primaryGreen);
}

.homeBodyConfigChangeEmailDiv{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px 15px;
    overflow: hidden;
    cursor: pointer;
    margin: 0px 0px 10px 0px;
}

.homeBodyConfigChangeEmailSlider{
    display: flex;
    flex-direction: row;
    align-items: center;
    translate: 0%;
    transition: translate var(--transitionTime);
    width: 200%;
}

.homeBodyConfigChangeEmailTitle{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}

.homeBodyConfigChangeEmailContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.homeBodyConfigChangeEmailInput{
    border: 1px solid var(--primaryGreen);
    border-radius: 10px;
    padding: 10px 15px;
    width: 40%;
}

.homeBodyConfigChangeEmailButton{
    background: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 0px 0px 0px 5px;
    transition: background var(--transitionTime);
}

.homeBodyConfigChangeEmailButton:hover{
    background: var(--primaryGreen);
}

.homeBodyConfigChangePasswordDiv{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px 15px;
    overflow: hidden;
    cursor: pointer;
    margin: 0px 0px 10px 0px;
}

.homeBodyConfigChangePasswordSlider{
    display: flex;
    flex-direction: row;
    align-items: center;
    translate: 0%;
    transition: translate var(--transitionTime);
    width: 200%;
}

.homeBodyConfigChangePasswordTitle{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}

.homeBodyConfigChangePasswordContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.homeBodyConfigChangePasswordInput{
    border: 1px solid var(--primaryGreen);
    border-radius: 10px;
    padding: 10px 15px;
    width: 40%;
}

.homeBodyConfigChangePasswordButton{
    background: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 0px 0px 0px 5px;
    transition: background var(--transitionTime);
}

.homeBodyConfigChangePasswordButton:hover{
    background: var(--primaryGreen);
}

.homeBodyConfigDisclaimer{
    margin: 20px 0px 0px 0px;
    font-style: italic;
}

@media screen and (max-width: 1000px){
    .homeBodyConfigDiv{
        width: 100%;
    }
}